<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        
        <title> Cog-Sci Experiment {% block title %} {% endblock %} </title>
    {% endblock %}

</head>
<body style="text-align: center;">
		{% block content %}
		{% endblock %}
</body>
</html>